@model IEnumerable<ECommerce.Models.Car>

@{
}



<!-- Section-->
<section class="py-5">
	<div class="container px-4 px-lg-5 mt-5">
		<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

			@foreach (var car in Model)
			{
				<div class="col mb-5">
					<div class="card h-100">
						<!-- Product image-->
						<img class="card-img-top" src="~/CarPics/@car.ImagesUrl" alt="@car.Title" width="220px" height="220px" />
						<div class="card-body">
							<h5 class="card-title">@car.Year @car.Brand @car.Model</h5>
							<p class="card-text">Mileage: @car.Mileage mi</p>
							<p class="card-text">Price: $@car.Price</p>
							<p class="card-text">Rental Price: $@car.RentalPricePerDay/Day</p>
							<a asp-action="Details" asp-controller="Car" asp-route-id="@car.CarID" class="btn btn-primary">View Details</a>


							@* <button class="action-btn"> *@
							@* 	<a asp-action="AddToWishlist" asp-controller="Wishlist" asp-route-id="@car.CarID"><i class="fas fa-heart"></i></a> *@
							@* </button> *@

							 <form asp-action="AddToWishlist" asp-controller="Wishlist" method="post"> 
							 	<input type="hidden" name="carId" value="@car.CarID" /> 
							 	<button type="submit" class="action-btn"> 
							 		<i class="fas fa-heart"></i> 
							 	</button> 
							 </form> 

						</div>
					</div>
				</div>

			}




			@foreach (var car in Model)
			{
				<div class="col mb-5">
					<div class="card h-100">
						<!-- Product image-->
						<img class="card-img-top" src="~/CarPics/@car.ImagesUrl" alt="@car.Title" width="220px" height="220px" />
						<div class="card-body">
							<h5 class="card-title">@car.Year @car.Brand @car.Model</h5>
							<p class="card-text">Mileage: @car.Mileage mi</p>
							<p class="card-text">Price: $@car.Price</p>
							<p class="card-text">Rental Price: $@car.RentalPricePerDay/Day</p>
							<a asp-action="Details" asp-controller="Car" asp-route-id="@car.CarID" class="btn btn-primary">View Details</a>


							@* <button class="action-btn"> *@
							@* 	<a asp-action="AddToWishlist" asp-controller="Wishlist" asp-route-id="@car.CarID"><i class="fas fa-heart"></i></a> *@
							@* </button> *@

							<form asp-action="AddToWishlist" asp-controller="Wishlist" method="post">
								<input type="hidden" name="carId" value="@car.CarID" />
								<button type="submit" class="action-btn">
									<i class="fas fa-heart"></i>
								</button>
							</form>

						</div>
					</div>
				</div>

			}

		</div>
	</div>
</section>

